div{
    text-align: center;
}
label{
    text-align-last: left;
}
.aler-danger{
    background-color: tomato;
}

.alert{
    color: rgb(161, 24, 0);
    margin-bottom: 15px;
    text-align-last: left;
}